<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MainDictFile" value="Resources\dict.txt" />
        <add key="ProbEmitFile" value="Resources\prob_emit.txt" />

        <add key="PosProbStartFile" value="Resources\pos_prob_start.json" />
        <add key="PosProbTransFile" value="Resources\pos_prob_trans.json" />
        <add key="PosProbEmitFile" value="Resources\pos_prob_emit.json" />
        <add key="CharStateTabFile" value="Resources\char_state_tab.json" />

        <add key="IdfFile" value="Resources\idf.txt" />
    </appSettings>
</configuration>