<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="MainDictFile" value="Resources\dict.txt"/>
        <add key="ProbTransFile" value="Resources\prob_trans.json"/>
        <add key="ProbEmitFile" value="Resources\prob_emit.json"/>

        <add key="PosProbStartFile" value="Resources\pos_prob_start.json"/>
        <add key="PosProbTransFile" value="Resources\pos_prob_trans.json"/>
        <add key="PosProbEmitFile" value="Resources\pos_prob_emit.json"/>
        <add key="CharStateTabFile" value="Resources\char_state_tab.json"/>
    </appSettings>
</configuration>
