<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StopWordsFile" value="Resources\stopwords.txt"/>
    <add key="IdfFile" value="Resources\idf.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
